<div class="container-fluid d-flex align-items-center h-100" style="background: #f4f4f5;">
    <div class="card shadow-sm p-5 mx-auto col-sm-12 col-md-6" >
        <h1 class="text-center" style="color: #3f51b5; font-size: 4em;"    >travelpud</h1>
        <form (submit)="login(email.value,password.value, $event)" class="example-form mx-auto mt-4" >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input required #email type="email" matInput 
                     placeholder="Ex. pat@example.com">              
              <mat-error >
                Please enter a valid email address
              </mat-error>
              <mat-error >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input required #password type="password" matInput>                              
              </mat-form-field>
              <div class="mx-auto w-50 d-flex justify-content-center">
                <button type="submit"  class="w-50" mat-raised-button color="primary">Login</button>
              </div>
            <div class="d-flex justify-content-end mt-4">
                <!-- <small>Powered by <b  style="color: #3f51b5;">Concept Machine</b>  </small> -->
                <small class="font-weight-bold" style="color: #3f51b5;"><b>Version 1.0</b> </small>  
            </div>  
          </form>
    </div>
</div>
